

.bd-example {

position: relative;
    
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
   
	padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    
    box-sizing: border-box;
        
    min-width: 576px;
    
    
   <!-- width: 900px;
   -->
   
    height: 500px;
    
    
  overflow-y: scroll;
}