ErrorDocument 404 https://pzprovi.github.io
ErrorDocument 500 https://pzprovi.github.io

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ https://pzprovi.github.io [L]

RewriteCond %{REQUEST_URI} ^/500/$
RewriteRule ^(.*)$ https://pzprovi.github.io [L]
