<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
    <system.webServer>
		<httpErrors>
			<error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
                           
		<customErrors>
			<error redirect="/index.html" statusCode="404" />
        </customErrors>
        
         <staticContent>
			<mimeMap fileExtension=".srt" mimeType="text/srt" />
            <mimeMap fileExtension=".json" mimeType="application/json" />          
        </staticContent>
	</system.webServer>
  
	<system.web>
		<compilation debug="false" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" />
	</system.web>
  
</configuration> 