<?xml version="1.0" encoding="UTF-8"?>
 <configuration>       
	<system.web>
		<compilation debug="false" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" />
		
  		<customErrors mode="Off">
     		<error statusCode="404" redirect="~/index.html" />
		</customErrors>
	</system.web>
     	 
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".srt" mimeType="text/srt" />       
		</staticContent>                         		 		
	</system.webServer>
	 
</configuration> 
